* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, #190361 0%, #bb00ff 100%);
  display: grid;
  place-items: center;
}

main {
  width: min(42.8rem, 90%);
  background-color: #fff;
  text-align: center;
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
}

h1,
h2,
p {
  color: #34355b;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-block: 1.4rem 2rem;
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
}

#closedCookie {
  cursor: pointer;
  position: relative;
}
#closedCookie:hover {
  animation: example 200ms ease -2s infinite alternate;
}

@keyframes example {
  0% {top: 5px; right: 5px; left: 0px; bottom: 0px;}
  25% {top: 0px; right: 0px; left: 5px; bottom: 5px;}
  50% {top: 5px; right: 5px; left: 0px; bottom: 0px;}
  100% {top: 0px; right: 0px; left: 5px; bottom: 5px;}
}

.msg-container {
  background-color: #E4EDF1;
  text-align: center;
  padding: 1rem;
  margin-block: 1.7rem;
}

button {
  border: none;
  background-color: #FF9500;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.6rem;
  margin-top: 1.7rem;
  border-radius: .4rem;
  cursor: pointer;
}

.hide {
  display: none;
}